<template>
  <Author />
</template>

<script lang="ts">
import Vue from 'vue';
import Author from '../components/Author.vue';

export default Vue.extend({
  components: {
    Author,
  },
});
</script>
