<template>
  <Authors />
</template>

<script lang="ts">
import Vue from 'vue';
import Authors from '../components/Authors.vue';

export default Vue.extend({
  components: {
    Authors,
  },
});
</script>
