<template>
  <Articles />
</template>

<script lang="ts">
import Vue from 'vue';
import Articles from '../components/Articles.vue';

export default Vue.extend({
  components: {
    Articles,
  },
});
</script>
