<template>
  <Institutions />
</template>

<script lang="ts">
import Vue from 'vue';
import Institutions from '../components/Institutions.vue';

export default Vue.extend({
  components: {
    Institutions,
  },
});
</script>
