<template>
  <v-container>
    <v-layout
      wrap
    >
      <v-flex
        xs12
        pa-2
      >
      <v-form v-on:submit.prevent="updateSearch">
        <v-text-field
          v-model="searchTitle"
          label="title"
	  v-on:keydown.enter.prevent="updateSearch"
          />

        <v-text-field
          v-model="searchAbstract"
          label="abstract"
	  v-on:keydown.enter.prevent="updateSearch"
          />

        <v-btn
          class="mr-4"
          @click="updateSearch"
        >Search</v-btn>

        <v-btn
          class="mr-4"
          @click="clearSearch"
        >Clear</v-btn>


      </v-form>
      <v-pagination
        v-if="!isSearch"
        v-model="page"
        :length="numArticles"
        total-visible="8"
        @input="changePage"
      ></v-pagination>

        <br/>
        <h2 v-if="isSearch"> Total Results {{articles.length }} </h2>

        <v-card class="article" ma-2 v-for="article in articles">
          <v-card-title>
            {{ article.title }} <v-btn icon :href="'https://dx.doi.org/' +  article.doi"><v-icon>mdi-link</v-icon></v-btn> 
          </v-card-title>
          <v-card-text>
            <p>
                {{ article.abstract }}
            </p>
	    <div class="authors">
		  <router-link class="author" v-for="author in article.authors" :to="`/author/${author.author_id}`">
	    	    <v-chip>
	              {{ author.author}}
		    </v-chip>
		  </router-link>
	    </div>
            <h2>Conflict of Interest</h2>
            <div class="coi"  >
              <div v-if="article.coi_text != 'NONE'">
              {{ article.coi_text }}
              </div>
              <div v-else>
              No COI statement
              </div>
            </div>
            <p/>
            <h2>Fund</h2>
            <div class="fund" >
              <div  v-if="article.fund_text != 'NONE'">
              {{ article.fund_text }}
              </div>
              <div v-else>
              No funds statement
              </div>
            </div>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-pagination
        v-if="!isSearch"
        v-model="page"
        :length="numArticles"
        total-visible="8"
        @input="changePage"
      ></v-pagination>

      </v-flex>
    </v-layout>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import api from '../api';

export default Vue.extend({
  data: function () {
    return {
      articles: [],
      numArticles: 0,
      searchTitle: '',
      searchAbstract: '',
      isSearch: false,
      dateOrder: 'desc',
      page: 1,
    }
  },

  beforeMount: function () {
    this.getArticles()
  },

  methods: {
    getArticles () {
      api.article.getArticlesWithAuthors(this.page).then(res => {
	console.log(res)
        // @ts-ignore

        this.articles = <any []> res.data;
	console.log(this.articles)
        for (var a of this.articles) {
        // @ts-ignore


          if (a!.coi && a!.coi.length > 0) {
        // @ts-ignore


            a!.coi_text = a!.coi[0].coi_text
          } else {
        // @ts-ignore


            a!.coi_text = 'NONE'
          }
        // @ts-ignore


	  a!.authors = JSON.parse(a!.json_agg)
        }
        this.numArticles = Math.floor(parseInt(res.headers['content-range'].split('/')[1])/20);
      });
    },

    updateSearch () {
      api.article.searchArticles(this.searchTitle, this.searchAbstract).then(res => {
        this.articles = res.data;
        for (var a of this.articles) {
        // @ts-ignore

          if (a!.coi && a.coi.length > 0) {
        // @ts-ignore

            a!.coi_text = a.coi[0].coi_text
          } else {
        // @ts-ignore

            a!.coi_text = 'NONE'
          }
        // @ts-ignore
	  a!.authors = JSON.parse(a!.json_agg)
        }
        this.isSearch = true
      });
    },

    clearSearch () {
      this.searchTitle = ''
      this.searchAbstract = ''
      this.isSearch = false
      this.getArticles()
    },

    changePage () {
      this.getArticles()
    }
  }

});
</script>

<style>

.article {
  margin: 20px;
}

.coi {
  border: 1px solid #ededed;
  border-radius: 5px;
  padding: 10px;
}

.fund {
  border: 1px solid #ededed;
  border-radius: 5px;
  padding: 10px;
}

.authors::after {
  display: block;
  clear:both;
  content: " ";
  padding-bottom: 20px;
}

.author {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
</style>
