<template>
  <v-container>
    <v-layout
      wrap
    >
    <v-btn to="/authors">Authors</v-btn>  <v-icon>mdi-chevron-right</v-icon> 
    <h1>{{author.surname}}, {{author.name}}</h1>
      <v-flex
        xs12
        pa-2
      >
      <h2>CoI (Conflict of Interest Statements)</h2>
       
        <v-card class="article" ma-2 v-for="coi in cois">
          <v-card-title>
		  <span v-if="coi.author_coi.text === 'NONE'">
		  {{ coi.author_coi.count }} article(s) without CoI
		  </span>
		  <span v-else>
		  {{ coi.author_coi.count }} article(s)  with this CoI
		  </span>
          </v-card-title>
          <v-card-text v-if="coi.author_coi.text !== 'NONE'">
		  {{ coi.author_coi.text }}

	  </v-card-text>
	</v-card>

      <h2>No. of articles: {{numArticles}}</h2>
        <v-card class="article" ma-2 v-for="article in articles">
 	  <div class="journal"> {{ article.journal_id }} </div>
 	  <div class="date">{{ formatDate(article.pdate) }}</div>


          <v-card-title>
            {{ article.title }} <v-btn icon :href="'https://dx.doi.org/' +  article.doi"><v-icon>mdi-link</v-icon></v-btn> 
          </v-card-title>
          <v-card-text>
            <p>
                {{ article.abstract }}
            </p>
	    <div class="authors">
		    <div><h3>Co-authors:</h3></div>
		    <div>
		  <router-link class="author" v-if="author.author_id != author_id" v-for="author in article.authors" :to="`/author/${author.author_id}`">
	    	<v-chip >
	            {{ author.author}}
		</v-chip>
		  </router-link>
		    </div>
	    </div>
            <h2>Conflict of Interest</h2>
            <div class="coi"  >
              <div v-if="article.coi_text != 'NONE'">
              {{ article.coi_text }}
              </div>
              <div v-else>
              No COI statement
              </div>
            </div>
            <p/>
            <h2>Fund</h2>
            <div class="fund" >
              <div  v-if="article.fund_text != 'NONE'">
              {{ article.fund_text }}
              </div>
              <div v-else>
              No funds statement
              </div>
            </div>
          </v-card-text>
        </v-card>
      </v-flex>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import api from '../api';

export default Vue.extend({
  data () {
    return { 
      articles: <any []> [],
      cois: [],
      author: {},
      author_id: this.$route.params['author_id'],
      numArticles: 0,
      dateOrder: 'desc',
      page: 1
    }
  },

  watch: {
    $route: function (to, from) {
      this.author_id = this.$route.params['author_id']
      this.getCois()
      this.getArticles()
    }
  },

  beforeMount: function () {
    this.getCois()
    this.getArticles()
  },

  methods: {
    updateArticles () {
  	  console.log('E')
      this.getCois()
      this.getArticles()
    },

    formatDate(d:string) {
      let dateParts = d.split('-')
      return `${dateParts[2]}/${dateParts[1]}/${dateParts[0]}`
    },

    getCois () {
      api.author.getAuthorCois(this.$route.params['author_id']).then(res => {
        this.cois = res.data;
      })

    },
    
    getArticles () {
      api.author.getAuthorArticles(this.$route.params['author_id']).then(res => {
        this.articles = res.data['articles'];
	this.author = res.data['author'];
        for (var a in this.articles) {
          if (this.articles[a].coi && this.articles[a].coi.length > 0) {
            this.articles[a]['coi_text'] = this.articles[a].coi[0].coi_text
          } else {
            this.articles[a]['coi_text'] = 'NONE'
          }
        }
        this.numArticles = this.articles.length;
      });
    },
  }

});
</script>

<style>

.article {
  margin: 20px;
}

.coi {
  border: 1px solid #ededed;
  border-radius: 5px;
  padding: 10px;
}

.fund {
  border: 1px solid #ededed;
  border-radius: 5px;
  padding: 10px;
}

.authors::after {
  display: block;
  clear:both;
  content: " ";
  padding-bottom: 20px;
}

.author {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.date {
  position: relative;
  right: 0;
  text-align: right;
}

.journal {
  position: absolute;
  left: 10px;
  text-align: left;
}


</style>
