<template>
  <v-container>
    <v-layout
      wrap
    >
      <v-flex
        xs12
        pa-2
      >
      <v-form>
        <v-text-field
          v-model="searchAuthorName"
          label="Author name"
          />

        <v-btn
          class="mr-4"
          @click="updateSearch"
        >Search</v-btn>

        <v-btn
          class="mr-4"
          @click="clearSearch"
        >Clear</v-btn>

      </v-form>
      <v-pagination
        v-if="!isSearch"
        v-model="page"
        :length="numAuthors"
        total-visible="8"
        @input="changePage"
      ></v-pagination>

        <br/>
        <h2 v-if="isSearch"> Total Results {{authors.length }} </h2>

        <v-card class="article" ma-2 v-for="author in authors">
          <v-card-title>
	    <router-link :to="`/author/${author.id}`">
              {{ author.surname }}, {{ author.name }}
	    </router-link>
          </v-card-title>
        </v-card>
      </v-flex>
      <v-pagination
        v-if="!isSearch"
        v-model="page"
        :length="numAuthors"
        total-visible="8"
        @input="changePage"
      ></v-pagination>

      </v-flex>
    </v-layout>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import api from '../api';

export default Vue.extend({
  data: () => ({
    authors: [],
    numAuthors: 0,
    searchAuthorName: '',
    isSearch: false,
    dateOrder: 'desc',
    page: 1,
  }),

  beforeMount() {
    this.getAuthors();
  },

  methods: {
    getAuthors() {
      api.author.getAuthors(this.page).then((res: any) => {
        this.authors = res.data;
        this.numAuthors = Math.floor(parseInt(res.headers['content-range'].split('/')[1]) / 20);
      });
    },

    updateSearch() {
      api.author.searchAuthors(this.searchAuthorName).then((res: any) => {
        this.authors = res.data;
        this.isSearch = true;
      });
    },

    clearSearch() {
      this.searchAuthorName = '';
      this.isSearch = false;
      this.getAuthors();
    },

    changePage() {
      this.getAuthors();
    },
  },
});
</script>

<style>

.author {
  margin: 20px;
}

</style>
