<template>
  <v-container>
    <v-layout
      wrap
    >
      <v-flex
        xs12
        pa-2
      >
      <v-form v-on:submit.prevent="updateSearch">
        <v-text-field
          v-model="searchCoiText"
          label="CoI text"
          />
	<v-switch @change="updateWithoutEmpty" v-model="withoutEmpty" class="ma-2" label="do not show articles without CoI"></v-switch>

        <v-btn
          class="mr-4"
          @click="updateSearch"
        >Search</v-btn>

        <v-btn
          class="mr-4"
          @click="clearSearch"
        >Browse all</v-btn>

      </v-form>
      <v-pagination
        v-model="page"
        :length="numPages"
        total-visible="8"
        @input="changePage"
      ></v-pagination>
	<v-tooltip fixed top>
	  <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="pink"
                dark
                small
		fixed
                bottom
                left
                fab
		@click="searchOnClick = true"
              >
		<v-icon>mdi-file-search</v-icon>
              </v-btn>
	  </template>
	  <span>Search by word in CoI</span>
	</v-tooltip>
	      <v-snackbar v-model="searchOnClick" bottom>
		Click one word to search CoI's containing it.
	      </v-snackbar>
        <br/>
	<h2 > Total Results {{ numCois }} <span v-if="isSearch"> for <b>"{{searchCoiText}}"</b></span></h2>

        <v-card class="coi" ma-2 v-for="coi in cois">
	  <div class="journal"> {{ coi.journal_id }} </div>
	  <div class="date">{{ formatDate(coi.pubdate) }}</div>
          <v-card-title @click="getWord">
		  {{ coi.title }} 
	  </v-card-title>
	  <v-card-text @click="getWord">
	    <div v-html="highlightSearchWord(coi.coi_text)"></div>
	    <div class="authors">
		  <router-link class="author" v-for="author in coi.authors" :to="`/author/${author.author_id}`">
	    	    <v-chip>
	              {{ author.author }}
		    </v-chip>
		  </router-link>
	    </div>
	  </v-card-text>
        </v-card>
      </v-flex>
      <v-pagination
        v-model="page"
        :length="numPages"
        total-visible="8"
        @input="changePage"
      ></v-pagination>

      </v-flex>
    </v-layout>
  </v-container>
</template>

<script lang="ts">

import Vue from 'vue';
import api from '../api';

export default Vue.extend({
  data() { 
    return {
      cois: [],
      numCois: 0,
      numPages: 0,
      searchCoiText: '',
      searchOnClick: false,
      isSearch: false,
      dateOrder: 'desc',
      withoutEmpty: false,
      page: 1,
    }
  },

  beforeMount() {
    if (this.$route.query.hasOwnProperty('without_empty')) {
      if (this.$route.query['without_empty']) {
	this.withoutEmpty = true;
      }
    }

    if (this.$route.query.hasOwnProperty('search')) {
      let searchText:string = this.$route.query.search as string
      this.searchCoiText = searchText || '' 
      this.updateSearch()
    } else {
      this.getCois();
    }
  },

  methods: {
    getCois() {
      api.coi.getCois(this.page, 30, this.withoutEmpty).then((res:any) => {
        this.cois = res.data.results;
	this.numCois = res.data.num_results;
	this.numPages = res.data.pages;
      });
    },

    updateWithoutEmpty() {
      if (this.withoutEmpty) {
        this.$router.replace({ path: '/coi', query: { without_empty: String(this.withoutEmpty) }});
      } else {
        this.$router.replace({ path: '/coi' });
      }
    },

    getWord() {
      if (this.searchOnClick) {
        var t = ''; 
        var sel;
        var s = window.getSelection();
	// @ts-ignore
        if (window.getSelection && (sel = window.getSelection()).modify) {
       	  // @ts-ignore
          if (s.isCollapsed) {
	    if (s != null) {
	       	// @ts-ignore0v$y
            	s.modify('move', 'forward', 'character');
	       	// @ts-ignore

            	s.modify('move', 'backward', 'word');
	       	// @ts-ignore

            	s.modify('extend', 'forward', 'word');
	       	// @ts-ignore

            	t = s.toString();
	       	// @ts-ignore

            	s.modify('move', 'forward', 'character'); //clear selection
	    }
          } else {
	       	// @ts-ignore

            t = s.toString();
          }
   	       	// @ts-ignore


        } else if ((sel = document.selection) && sel.type != "Control") {
          // IE 4+
          var textRange = sel.createRange();
          if (!textRange.text) {
              textRange.expand("word");
          }
          // Remove trailing spaces
          while (/\s$/.test(textRange.text)) {
              textRange.moveEnd("character", -1);
          }
          t = textRange.text;
        }
        this.searchCoiText = t;
        this.updateSearch();
      }
    },

    highlightSearchWord(coi_text:string) {
      if (this.isSearch && this.searchCoiText != '') {
        let re = new RegExp(this.searchCoiText, 'g');
        let spanned = `<span class="highlighted">${this.searchCoiText}</span>`;
        return coi_text.replace(re, spanned);
      } else {
	return coi_text;
      }
    },

    updateSearch() {
      api.coi.searchCois(this.searchCoiText, this.withoutEmpty, this.page, 30).then((res: any) => {
        this.cois = res.data.results
	this.numCois = res.data.num_results
	this.numPages = res.data.pages
        this.isSearch = true;
	this.$router.replace({ path: 'coi', query: { search: this.searchCoiText }})
      });
    },

    formatDate(d:string) {
      let dateParts = d.split('-')
      return `${dateParts[2]}/${dateParts[1]}/${dateParts[0]}`
    },

    highlightResults() {
      var cois = document.getElementsByClassName('coi');
      for (let i = 0; i < cois.length; ++i) {
	       	// @ts-ignore

	let coiTextNode = cois[i].getElementsByClassName('v-card__text')[0];
	       	// @ts-ignore

	let coiText = coiTextNode.firstChild;
	       	// @ts-ignore

	let wordPosition = coiText.textContent.toLowerCase().search(this.searchCoiText.toLowerCase())
		       	// @ts-ignore
        if (wordPosition > 0) {
	  let span = document.createElement('span');
	  span.className = 'highlighted';
	  span.appendChild(document.createTextNode(this.searchCoiText));
	       	// @ts-ignore


  	  coiTextNode.insertBefore(span, coiText.splitText(wordPosition));
          let coiSplitPart = coiTextNode.childNodes[2]
	       	// @ts-ignore


	  coiSplitPart.textContent = coiSplitPart.textContent.slice(this.searchCoiText.length) 
	}
      }
    },

    clearSearch() {
      if (this.withoutEmpty) {
	this.$router.replace({ path: '/coi', query: { withoutEmpty: "true"}});
      } else {
	this.$router.replace({ path: '/coi' });
      }
      this.searchCoiText = '';
      this.isSearch = false;
      this.getCois();
    },

    changePage() {
      this.getCois();
    },
  },
});
</script>

<style>

.coi {
  margin: 20px;
}

.date {
  position: relative;
  right: 0;
  text-align: right;
}

.journal {
  position: absolute;
  left: 10px;
  text-align: left;
}


.help-search {
  position: fixed;
  bottom: 10px;
  left: 100px;
  z-index: 50;
  margin: auto;
}

.highlighted {
  background-color: yellow;
}
</style>
