<template>
  <v-container>
    <v-layout
      wrap
    >
      <v-flex
        xs12
        pa-2
      >
      <v-form>
        <v-text-field v-on:keydown.enter.prevent="updateSearch"
          v-model="searchInstitutionName"
          label="Institution name"
          />

        <v-btn
          class="mr-4"
          @click="updateSearch"
        >Search</v-btn>

        <v-btn
          class="mr-4"
          @click="clearSearch"
        >Clear</v-btn>

      </v-form>
      <v-pagination
        v-if="!isSearch"
        v-model="page"
        :length="numInstitutions"
        total-visible="8"
        @input="changePage"
      ></v-pagination>

        <br/>
        <h2 v-if="isSearch"> Total Results {{institutions.length }} </h2>

        <v-card class="article" ma-2 v-for="institution in institutions">
          <v-card-title>
	    <router-link :to="`/institution/${institution.id}`">
              {{ institution.name }}
	    </router-link>
          </v-card-title>
        </v-card>
      </v-flex>
      <v-pagination
        v-if="!isSearch"
        v-model="page"
        :length="numInstitutions"
        total-visible="8"
        @input="changePage"
      ></v-pagination>

      </v-flex>
    </v-layout>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import api from '../api';

export default Vue.extend({
  data: () => ({
    institutions: [],
    numInstitutions: 0,
    searchInstitutionName: '',
    isSearch: false,
    dateOrder: 'desc',
    page: 1,
  }),

  beforeMount() {
    this.getInstitutions();
  },

  methods: {
    getInstitutions() {
      api.institutions.getResearchInstitutions(this.page).then((res: any) => {
        this.institutions = res.data;
        this.numInstitutions = Math.floor(parseInt(res.headers['content-range'].split('/')[1]) / 20);
      });
    },

    updateSearch() {
      api.institutions.searchResearchInstitutions(this.searchInstitutionName).then((res: any) => {
        this.institutions = res.data;
        this.isSearch = true;
      });
    },

    clearSearch() {
      this.searchInstitutionName = '';
      this.isSearch = false;
      this.getInstitutions();
    },

    changePage() {
      this.getInstitutions();
    },
  },
});
</script>

<style>

.author {
  margin: 20px;
}

</style>
