<template>
  <v-app>
    <v-app-bar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>Follow the </span>
        <span class="font-weight-light">Grant</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-menu offset-y>
        <template v-slot:activator="{ on }">
          <v-btn
            color="primary"
            dark
            v-on="on"
          >
	  {{ $route.name }} 
          </v-btn>
        </template>
        <v-list>
          <v-list-item
            v-for="(item, index) in items"
            :key="index"
            :to="item['url']"
          >
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>

    <v-content>
      <router-view/>
    </v-content>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import Articles from './components/Articles.vue';

export default Vue.extend({
  name: 'App',
  components: {
    Articles
  },
  data: () => ({
    items: [
	{'title': 'CoI', 'url': '/coi'},
	{'title': "Articles", 'url': '/'}, 
	{'title': "Authors", 'url': '/authors'}, 
	{'title': "Institutions", 'url': '/institutions'} ]
  })
});
</script>
